@model IIUSchoolSystem.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<body class="bg-black">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-box" id="login-box">
            <div class="header">Sign In</div>
            <div class="body bg-gray">
                <div class="form-group">

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Sign me in</button>
                <p><a href="#">I forgot my password</a></p>
            </div>
        </div>
    }

</body>

