@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IIU Schools</title>
    @(Html.Telerik().StyleSheetRegistrar()
              .DefaultGroup(group => group
                                         .Add("telerik.common.min.css")
                                                         .Add("telerik.metro.min.css")
                                         .Add("telerik.rtl.min.css")))
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-blue">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <header class="header">
        @Html.Partial("_Header")
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_LeftMenu")
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </aside>
    </div>
    <footer style="text-align: center;">
        @Html.Partial("_Footer")
    </footer>
      @(Html.Telerik().ScriptRegistrar().jQuery(true)))
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Application")
  
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/MainScripts")

     <div id="dialog-confirm" class="hide">
        <div class="alert alert-info bigger-110">
            This item will be permanently deleted and cannot be recovered.
        </div>
        <div class="space-6"></div>
        <p class="bigger-110 bolder center grey">
            <i class="fa fa-hand-o-right bigger-120"></i>
            Are you sure?
        </p>
    </div><!-- #dialog-confirm -->

    <div id="dialog-message" class="hide">
        <div class="alert alert-info bigger-110">
            Do you want to change it?
        </div>
    </div><!-- #dialog-message -->
</body>
</html>
